:root {
  --bg-surface: #777777;
  --bg-elevated: #575757;
  --bg-inverted: #f1f1f1;
  --color-disable: #888888;
  --color-primary: #0c4daf;
  --color-secondary: #2ba2da;
  --color-accent: #b69f1f;
  --color-text-primary: #ebe8d9;
  --color-text-secondary: #c9c5b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  background: var(--bg-surface);
  color: var(--color-text-secondary);
}

section {
  padding: 2rem 8%;
  height: 100vh;
  display: grid;
  place-items: center;
}
a {
  text-decoration: none;
}

/* image accordion */
.image-accordion {
  display: block;
  width: 100%;
  margin: auto;
}

.panel-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 600px;
}

.panel {
  flex: 1 1 0;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  transition-property: all;
  transition-duration: 1500ms;
  transition-timing-function: cubic-bezier(0.71, -0.12, 0.16, 1.01);
  backface-visibility: hidden;
  transform: translateZ(0);
  border-radius: 10px;
  cursor: pointer;
}
.panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 1;
}
.panel .image-instance {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.panel .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 300ms ease;
}
.panel:hover .content {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition-delay: 0.5s;
}

.content h2 {
  font-size: 4rem;
}
.panel.active {
  flex-grow: 8;
}
